/* === Roboto Sans === */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* === Roboto Condensed === */

@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* === Roboto Mono === */

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/RobotoMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/RobotoMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/RobotoMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/RobotoMono-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/RobotoMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/RobotoMono-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/RobotoMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/RobotoMono-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* === Roboto Slab === */

@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@theme {
    --font-sans: "Roboto", system-ui, sans-serif;
    --font-condensed: "Roboto Condensed", system-ui, sans-serif;
    --font-mono: "Roboto Mono", ui-monospace, monospace;
    --font-slab: "Roboto Slab", serif;
}
